.filter-section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 60%;
  margin: 0 auto 10px auto;
}

.react-datepicker-wrapper {
  display: inline-block;
}

.react-datepicker__input-container input {
  padding: 0.25rem;
  border: 2px solid grey;
  border-radius: 4px;
  width: 80px;
}
